h1{
    color:whitesmoke;
    background-image: url(tumbnail\ time\ in\ your\ life.jpg);
    background-clip: text;
    background-size: cover;
    background-color: solid;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 10vw;
}


body{
    background-color:rgb(207, 95, 43);
    background-image: url(img13.jpg);
    background-position:bottom;
    background-repeat: no-repeat;

}


h2{
    color: brown;
}
p{
    color: brown;
}
details{
    color: brown;
}
input{
    border-radius: 20px;
    outline:1px;
    border:1px solid;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button{
    display: flex;
    justify-content: center; 
    background-color:rgb(201, 98, 30);
    border-radius: 20px;
    height: 100px;
button{
    font-display: flex;
    justify-content: center;
    border-radius: 30px;
    height: 95px;
    width: 1000px;
    font-size: 30px;
    -webkit-text-fill-color:brown;
    background-color: dimgray;
    margin-top: 2px;
}
}
.buttontype{
    display: flex;
    justify-content: center;
    position: absolute;
    
type{
    border-radius: 30px;
}
}

input:hover{
    background-color:darkgray
}
button:hover{
    border: 2px solid brown;
    cursor: pointer;
    transition: 0,1s ease;
}

@media screen {
    input{
        max-width: 300px;
        max-height: 500px;
        width: 40vw;
        height: 5vw;
    }
    button{
        max-width: 300px;
        max-height: 500px;
        width: 5%;
        height: 1%;

    }
}